* { 
	font-size: 99.9%;
}

body {
	font-family: monospace;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

body>* {
	margin-left: 1em;
}

.sidebar {
	float: right;
	width: 400px;
	background: #f0f0f0;
	border-bottom-left-radius: 10px;
	padding: 0;
	margin-bottom: 1em;
	margin-left: 2em;
}
.sidebar>ul {
	paddinng: 1em;
	margin-left: 1em;
}

code { 
	display: inline-block;
	border-radius: 2px;
	padding: 0px 2px 2px 2px;
	background: #e0e0e0;
	color: #606060;
	box-shadow: 0 0 1px #999;
}

h1 {
	margin: 0;
	padding: 1em;
}
p {
	color: #3f3f3f;
	margin: 1em 2em;
}

blockquote {
	padding: 1em;
	border-radius: 4px;
}
blockquote, blockquote p {
	color: #f0f0f0;
}
ul {
	margin-bottom: 2em;
}
li {
	margin-bottom: .5em;
}
a {
	color: #2f4f4f;
}

.var {
	color: #800000;
}
.constant {
	color: #2e8b57;
}

.invert, h1, blockquote, blockquote p {
	background: #708090;
	color: #f5f5dc;
}

.invert .constant, h1 .constant, blockquote .constant {
	color: #98fb98;
}

.invert .var, h1 .var, blockquote .var {
	color: #f4a460;
}

.invert a, h1 a, blockquote a {
	color: #b0e0e6;
}
