* { 
	font-size: 99.9%;
}

body, code {
	font-family: Inconsolata, Monospace, 'Courier New', Courier, monospace;
}
body {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	color: #3f3f3f;
}

body>* {
	margin-left: 1em;
}
body>ul {
	margin-left: 2em;
}

.sidebar {
	font-size: .9em;
	float: right;
	background: #f0f0f0;
	border-bottom-left-radius: 10px;
	padding: 0;
	width: auto;
	padding-right: 1em;
}
.sidebar>ul {
}
.sidebar ul {
	margin-left: 1em;
	padding: 0;
	list-style-type: none;
}

code { 
	display: inline-block;
	border-radius: 2px;
	padding: 0px 2px 2px 2px;
	background: #e0e0e0;
	color: #606060;
	box-shadow: 0 0 1px #999;
}

code code {
	display: inline;
	padding: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}

pre>code {
	padding: 1em;
}
pre>code, pre>code code {
	background: #333;
	color: #eee;
}

p, pre {
	margin: 1em 2em;
}

blockquote {
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
	background: #ffe4e1;
	margin: 2em 0;
}

ul {
	margin-bottom: 2em;
}
li {
	margin-bottom: .5em;
}
a, h1 code>a {
	color: #2f4f4f;
}
a:hover {
	text-decoration: none;
}

.var {
	color: #800000;
}
.constant {
	color: #2e8b57;
}

h1 {
	line-height: 1.5;
}
h1 code {
	font-weight: normal;
	font-size: .9em;
	line-height: 1.33;
}

footer, h1, li h3 {
	background: #708090;
	color: #f5f5dc;
}

footer, h1 {
	margin: 0;
	padding: 1em;
}

li h3 {
	border-radius: 4px;
	display: inline-block;
	width: auto;
	padding: .2em;
	margin: .5em 0 0 0;
}

h1 .constant, pre>code .consant, li h3 .constant {
	color: #98fb98;
}

h1 .var, pre>code .var, li h3 .var {
	color: #f4a460;
}

footer a, h1 a, pre>code a, li h3 a {
	color: #b0e0e6;
}

li h3 a {
	text-decoration: none;
}
li h3 a:hover {
	text-decoration: underline;
}

#disqus_thread {
	margin-top: 8em;
	margin-right: 2em;
}

footer {
	font-size: smaller;
	text-align: center;
	clear: both;
	margin-top: 8em;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin: 0 1em;
}
