* { 
	font-size: 99.9%;
}

body, code {
	font-family: Inconsolata, Monospace, 'Courier New', Courier, monospace;
}
body {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	padding-bottom: 5em;
	color: #3f3f3f;
}

body>* {
	margin-left: 1em;
}
body>ul, body>div>ul {
	margin-left: 2em;
}

.sidebar {
	float: right;
	background: #f0f0f0;
	border-bottom-left-radius: 10px;
	padding: 0;
	width: auto;
	min-width: 200px;
	padding-right: 1em;
}
.sidebar>ul {
}
.sidebar ul {
	margin-left: 1em;
	margin-top: .5em;
	padding: 0;
	list-style-type: none;
}

.sidebar .edit {
	display: block;
	position: absolute;
	top: 2em;
	right: 0.5em;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 0 5px red;
}

.sidebar .edit a {
	color: white !important;
}
code { 
	border-radius: 2px;
	padding: 0px 2px 2px 2px;
	background: #f0f0f0;
	color: #606060;
	box-shadow: 0 0 1px #999;
}

code code {
	display: inline;
	padding: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}

pre>code {
	display: inline-block;
	padding: 1em;
	min-width: 50%;
}
pre>code, pre>code code {
	background: #333;
	color: #eee;
}

p, pre, table {
	margin: 1em 2em;
}

li>p {
	margin: 1em 0;
}

blockquote {
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
	background: #ffe4e1;
	margin: 2em 0;
}

ul {
	margin-bottom: 2em;
}
li {
	margin-bottom: .5em;
}
a, h1 code>a {
	color: #2f4f4f;
}
a:hover {
	text-decoration: none;
}
a[href^="http:"]:after, a[href^="https:"]:after {
	content: " ⬈";
}

.var {
	color: #800000;
}
.constant {
	color: #2e8b57;
}

h1 {
	line-height: 1.5;
}
h1 code {
	font-weight: normal;
	font-size: .9em;
	line-height: 1.33;
}

footer, h1, li h3, th {
	background: #708090;
	color: #f5f5dc;
}

footer, h1 {
	margin: 0;
	padding: 1em;
}

li h3 {
	border-radius: 4px;
	display: inline-block;
	width: auto;
	padding: .2em;
	margin: .5em 0 0 0;
}

body>h3, body>div>h3 {
	margin-left: 1.25em;
}
body>h4, body>div>h4 {
	margin-left: 1.5em;
}
body>h5, body>div>h5 {
	margin-left: 1.75em;
}
body>h6, body>div>h6 {
	margin-left: 2em;
}

h1 .constant, pre>code .consant, li h3 .constant {
	color: #98fb98;
}

h1 .var, pre>code .var, li h3 .var {
	color: #f4a460;
}

footer a, h1 a, pre>code a, li h3 a {
	color: #b0e0e6;
}

li h3 a {
	text-decoration: none;
}
li h3 a:hover {
	text-decoration: underline;
}

#disqus_thread {
	margin-top: 8em;
	margin-right: 2em;
}

footer {
	font-size: smaller;
	text-align: center;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
}

footer ul {
	margin: 0;
	padding: 1em 0;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin: 0 1em;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}
th, td {
	padding: .4em;
}

h1, footer, table, .sidebar, pre>code, li h3 {
	box-shadow: 0 0 4px #708090;
}
