html {
	font-size: 16px;
}
html, body{
	height: 100%;
	min-height: 100%;
}
body, code {
	font-family:
			'DejaVu Sans Mono', 'Liberation Mono',
			'Andale Mono', Monaco, Menlo,
			monospace;
	/*
		Mitra Mono has broken kerning?
		Ubuntu Mono is too small!
	 */
}
body {
	line-height: 1.5;
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	color: #3f3f3f;
}

div.page {
	margin: auto;
/*	max-width: 1200px;
*/	min-height: 100%;
	padding-bottom: 5em;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

div.page>* {
	margin-left: 1em;
}
div.page>footer {
	margin-left: 0;
}
div.page>ul, div.page>div>ul {
	margin-left: 2em;
}

.sidebar {
	float: right;
	background: #f0f0f0;
	border-bottom-left-radius: 10px;
	padding: 0;
	width: auto;
	min-width: 200px;
	padding-right: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.sidebar>ul {
}
.sidebar ul {
	margin-left: 1em;
	margin-top: .5em;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
}

.sidebar .edit {
	display: block;
	position: relative;
	top: 2em;
	right: 0;
	transform: rotate(45deg);
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 0 5px red;
	float: right;
}

.sidebar .edit a {
	color: white !important;
}
code {
	border-radius: 2px;
	padding: 0px 2px 2px 2px;
	background: #f0f0f0;
	color: #606060;
	box-shadow: 0 0 1px #999;
}

code code {
	display: inline;
	padding: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}

pre>code {
	display: inline-block;
	padding: 1em;
	min-width: 50%;
	line-height: 1.2;
}

pre>code, pre>code code {
	background: #333;
	color: ghostwhite;
}
pre>code .comment {
	color: darkorange !important;
}
pre>code .string {
	color: darkseagreen !important;
}
pre>code .keyword {
	color: darkgray !important;
}

p, pre, table, dl {
	margin: 1em 2em;
	margin-left: 2em !important;
}

pre>code, table, dl {
	margin-bottom: 2em !important;
}

li>p {
	margin: 1em 0;
}

blockquote {
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
	background: #ffe4e1;
	margin: 2em 0 !important;
}

ul {
	margin-top: 1em;
	margin-bottom: 2em;
}
ol {
	list-style-type: none;
}
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
ol li {
	margin-bottom: 0;
}
ol>li {
	font-weight: bold;
	margin-bottom: .5em;
}
ol>li>* {
	font-weight: normal;
}
li {
	margin-bottom: .5em;
}
a, h1 code>a {
	color: #2f4f4f;
}
a:hover {
	text-decoration: none;
}
a[href^="http:"]:after, a[href^="https:"]:after {
	content: " ⬈";
}
code>a {
	text-decoration: none;
}
code a[href^="http:"]:after, code a[href^="https:"]:after {
	content: "";
}

a.permalink {
	position: relative;
	top: 0;
	right: 0;
	color: #999999;
	opacity: 0.25;
}
.blink {
	color: red !important;
}
.fade-out {
	opacity: 0;
}
.fade-in {
	opacity: 1;
}
.trans-slow {
	transition: all 600ms;
}
.trans-fast {
	transition: all 200ms;
}

.var {
	color: #800000;
}
.constant {
	color: #2e8b57;
}

h1, th, footer {
	background: #708090;
	color: #f5f5dc;
}

h1, footer {
	margin: 0;
/*	max-width: 1200px;
*/	padding: 1em;
}

h1 {
	line-height: 1.5;
	margin-left: 0 !important;
	padding-left: 2em;
}
h1 code {
	font-weight: normal;
	font-size: .9em;
	line-height: 1.33;
}
h1 a.permalink {
	left: -.8em;
	margin-right: -.6em;
}

div.page>h3, div.page>div>h3 {
	margin-left: 1.25em;
}
div.page>h4, div.page>div>h4 {
	margin-left: 1.5em;
}
div.page>h5, div.page>div>h5 {
	margin-left: 1.75em;
}
div.page>h6, div.page>div>h6 {
	margin-left: 2em;
}

h1 .constant, pre>code .consant {
	color: #98fb98;
}

h1 .var, pre>code .var {
	color: #f4a460;
}
h1 {
	font-size: 125%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}
h4 {
	font-size: 100%;
}
footer a, h1 a, pre>code a {
	color: #b0e0e6;
}

ul.sub-entries li {
	list-style: circle;
	margin-bottom: 2em;
}
li h3 a {
	text-decoration: none;
}
li h3 a:hover {
	text-decoration: underline;
}

.comments {
	width: 80%;
}
.comments .activator {
	width: 80%;
	display: inline-block;
	margin: auto;
	padding: 1em;
	background-color: slategrey;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 4px #999;
}

footer {
	font-size: smaller;
	text-align: center;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
	transition: margin-bottom 2s ease 0.1s;
}
footer.hidden {
	margin-bottom: -10em;
	transition: margin-bottom 2s ease 0.1s;
}

footer ul {
	margin: 0;
	padding: 1em 0;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin: 0 1em;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}
th, td {
	padding: .4em;
	border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}
dt {
	font-weight: bold;
	margin-top: 1em;
}
dd {
	line-height: 1.33;
	margin-left: 1em;
}
h1, footer, table, .sidebar, pre>code {
	box-shadow: 0 0 4px #708090;
}
